In [1]:
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

# lodaing data
dataset = load_dataset("lukebarousse/data_jobs")
df = dataset["train"].to_pandas()

#data cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

In [2]:
median_salary_year = df['salary_year_avg'].median()
median_salary_year

115000.0

In [3]:
median_salary_hour = df['salary_hour_avg'].median()
median_salary_hour

45.97999954223633

In [4]:
df_filled = df

df_filled['salary_year_avg'] = df_filled['salary_year_avg'].fillna(median_salary_year)
df_filled['salary_hour_avg'] = df_filled['salary_hour_avg'].fillna(median_salary_hour)

In [5]:
df_filled.loc[:10, 'salary_year_avg':'salary_hour_avg']

    salary_year_avg  salary_hour_avg
0          115000.0            45.98
1          115000.0            45.98
2          115000.0            45.98
3          115000.0            45.98
4          115000.0            45.98
5          115000.0            45.98
6          115000.0            45.98
7          115000.0            45.98
8          115000.0            45.98
9          115000.0            45.98
10         115000.0            45.98

In [23]:
df_unique = df_filled

df_unique = df_unique.drop_duplicates()

print('Length of original df_filled: ', len(df_filled))
print('Length of cleaned df_unique: ', len(df_unique))
print('Number of duplicates: ', len(df_filled) - len(df_unique))

Length of original df_filled:  785741
Length of cleaned df_unique:  785640
Number of duplicates:  101

In [25]:
df_unique = df_unique.drop_duplicates(subset=['job_title', 'company_name'])

print('Length of original df_filled: ', len(df_filled))
print('Length of cleaned df_unique: ', len(df_unique))
print('Number of duplicates: ', len(df_filled) - len(df_unique))

Length of original df_filled:  785741
Length of cleaned df_unique:  508042
Number of duplicates:  277699